{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <form autocomplete="off" action="{% url 'index' %}">
                {% csrf_token %}
                <div class="form-group">
                    <h1><a href="{% url 'index' %}">Where do I find?</a> </h1>
                    <h4>{{ city }} {% if country %} - {{ country }} {% endif %}</h4>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="key" placeholder="Search for a term* (*required)" required/>
                    <small id="keyHelp" class="form-text text-muted">Example: Mexican Food, Drugstore</small>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="loc" placeholder="Enter a city"/>
                    <small id="keyLoc" class="form-text text-muted">Example: Vancouver, Madrid, Mexico City</small>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            {% if 'error' in items %}
                <h1>No results found in {{ city }}</h1>
            {% elif search and items.businesses|length < 1 %}
                <h1>No results for the term searched</h1>
            {% elif city and items %}
                <h1>Search Results</h1>
                {% for bis in items.businesses %}
            <span class="text-info"><b>{{ bis.name }}</b> — {{ bis.location.address1 }} ★ {{ bis.rating }}</span><br/>
                {% endfor %}
            {% endif %}
        </div>
        {% if city and items|length > 1 %}
            {% include 'maps.html' %}
        {% endif %}
{% endblock %}
